h1{
   align:center;
   color:red;
   background-color:pink;
   }
   
   p{
    background-color:lightpink;
	color:red;
	font:family:italic;
	}
	.imgtxt{
		position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	}
	.imgdiv{
		position:relative;
		text-align:center;
		padding:50px;
		margin-top:40px;
		border:1px solid red;
	}